section {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &[hidden] {
    display: none;
  }
}

h2 {
  text-align: center;
  width: 100%;
  margin: 0;
  flex: 0 0 100%;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;

  & .results__time {
    display: flex;
    gap: 0.5em;
  }

  & .results__fig {
    width: 100%;
  }
}
